<h2> Rental Show Page </h2>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td> <strong> Street Address: </strong> </td>
<td> <%= @rental.street_add %> </td>
</tr>
<tr>
<td><strong> City: </strong></td>
<td><%= @rental.city %></td>
</tr>
<tr>
<td><strong> State: </strong></td>
<td><%= @rental.state %></td>
</tr>
<tr>
<td><strong> Owner: </strong></td>
<td><%= @rental.owner %></td>
</tr>
 </tbody>
</table>

<li><%= link_to 'Edit', rental_path(@rental) %> </li>
<li><%= button_to 'Delete', rental_path(@rental), method: :delete, data: {confirm: "Are you sure?"} %></li>
<li><%= link_to 'Home', rentals_path %></li>

<h1> Reviews </h1>
<% @rental.reviews.each do |reviews| %>
<li><%= link_to "#{reviews.title}", rental_review_path(@rental, reviews), class: "btn btn-danger" %></li>
<% end %> 

<%#2= render partial: 'reviews/review', locals: { review: @review, rental: @rental } %> 
<%#1= render @rental.reviews %>


<h2>Add a review:</h2>
<%= link_to "Add a Review", new_rental_review_path(@rental), class: "btn btn-danger" %>






