<%= form_for @review do |f| %>

<%= f.hidden_field :user_id, value: current_user.id %>

<div class="form-group">

<% if @review.errors.any? %>
<div id="error_explanation">
<h2> <%= pluralize(@review.errors.count, "error") %> did not allow this review to be saved: </h2>
<ul>
<% @review.errors.full_messages.each do |message| %>
<li> <%= message %> </li>
<% end %>
</ul>
</div>
<% end %>

<div class="field">
<%= f.label :title %><br>
<%= f.text_field :title, class: "form-control", placeholder: "Title" %>
</div>

<div class="field">
<%= f.label :body %><br>
<%= f.text_field :body, class: "form-control", placeholder: "Describe your rental experience" %>
</div>


<div class="field">
<%= f.label :rating %><br>
<%= f.text_area :rating, class: "form-control", placeholder: "Enter a rating 1-5" %>
</div>


<div class="actions">
<%= f.submit %>
</div>
<% end %>
